.container,
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    padding: 0;
}